:root {

    /*light theme*/
    --m3--on-surface-variant: #4F4539;
    --m3--on-primary-container: #2A1800;
    --m3--surface2: #F2EFE8;
    --m3--on-surface: #1F1B16;
    --m3--surface: #FCFCFC;
    --m3--primary-container: #FFDDAF;
    --m3--primary: #835500;
    --m3--outline: #817567;
    --m3--secondary: #6F5B40;
    --m3--background: #FCFCFC;
    --m3--on-secondary-container: #271904;
    --m3--on-background: #1F1B16;
    --m3--on-primary: #FFFFFF;
}