@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /*dark theme*/
    --m3--on-surface-variant: #D3C4B4;
    --m3--on-primary-container: #FFDDAF;
    --m3--surface2: #31281a;
    --m3--on-surface: #EAE1D9;
    --m3--surface: #1F1B16;
    --m3--surface-variant: #4F4539;
    --m3--primary-container: #633F00;
    --m3--primary: #FFB94C;
    --m3--outline: #9C8F80;
    --m3--secondary: #DDC2A1;
    --m3--on-secondary: #3E2E16;
    --m3--background: #1F1B16;
    --m3--secondary-container: #56442B;
    --m3--on-secondary-container: #FADEBC;
    --m3--on-background: #EAE1D9;
    --m3--on-primary: #462B00;
    --m3--tertiary: #B8CEA1;
    --m3--on-tertiary: #243516;
}

html,
body {
    background-color: var(--m3--background);
    margin: 0 !important;
    font-family: 'Roboto';
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header,
footer {
    background: var(--m3--surface2);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 255;
}

header {
    box-shadow: 0px 1px 2px 0px #0000004d, 0px 2px 6px 2px #00000026;
    justify-content: space-between;
    padding: 16px;
    top: 0;
}

button#menu {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

button#menu>.menu-bar {
    height: 2px;
    width: 18px;
    background-color: var(--m3--on-surface-variant);
}

.menu-bar#middle-menu-bar {
    margin: 3px 0;
}

#page-title {
    font-size: 19px;
    color: var(--m3--on-surface-variant);
}

.color-mask {
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

#profile-icon {
    mask-image: url("../img/icon/profile.png");
    mask-image: url("../img/icon/profile.svg");
    -webkit-mask-image: url("../img/icon/profile.png");
    -webkit-mask-image: url("../img/icon/profile.svg");
    background: var(--m3--on-surface-variant);
    height: 36px;
    width: 36px;
}

/* body content */
#body-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: calc(68px);
    padding-bottom: calc(70px);
    display: flex;
    flex-flow: column;

}

#page-container {
    display: flex;
    flex-flow: row nowrap;
    width: 300vw;
    flex-grow: 1;
    position: relative;
    transition: left .2s ease-in-out, top .2s ease-in-out;
    height: calc(100vh - 68px - 70px);
    flex-shrink: 0;
}

#page-container>.page {
    width: 100vw;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 30px;
    box-sizing: border-box;
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    overflow-x: hidden;
    padding: 0 15px;
}

#page-timers {
    overflow: hidden;

}

#page-container.active-segment1 #page-timers,
#page-container.active-segment2 #page-notes,
#page-container.active-segment3 #page-judges {
    opacity: 1 !important;
    pointer-events: unset;
}

#page-container.active-segment1 {
    left: 0;
}

#page-container.active-segment2 {
    left: -100vw;
}

#page-container.active-segment3 {
    left: -200vw;
}

#nav-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: var(--m3--surface2);
    height: 40px;
    width: calc(100vw - 30px);
    padding: 4px;
    z-index: 244;
    position: fixed;
    border-top: 2px solid var(--m3--background);
}

#nav-scroll-fade-bar {
    width: calc(100vw - 30px);
    margin-top: 39px;
    height: 18px;
    background: linear-gradient(180deg, var(--m3--background) 0%, transparent 100%);
    position: fixed;
    z-index: 253;
    border-top: 2px solid var(--m3--background);

}

.nav-bar-item {
    width: 33.33333%;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: var(--m3--secondary);
    z-index: 1;
    transition: color .3s ease-in-out, font-size .3s ease-in-out;
}

#nav-bar.active-item1 #item1,
#nav-bar.active-item2 #item2,
#nav-bar.active-item3 #item3 {
    color: var(--m3--on-secondary-container);
    font-size: 12px;
}

#nav-bar-highlight {
    pointer-events: none;
    border-radius: 12px;
    background-color: var(--m3--primary-container);
    width: calc(.3333333 * (100vw - 40px));
    height: 32px;
    position: absolute;
    left: calc(5px);
    z-index: 0;
    transition: left .2s ease-in-out;
}

#nav-bar.active-item2 #nav-bar-highlight {
    left: calc(5px + (.3333333 * (100vw - 40px)));
}

#nav-bar.active-item3 #nav-bar-highlight {
    left: calc(5px + (.6666666 * (100vw - 40px)));
}

#nav-page-carousel {
    display: flex;
    flex-flow: row nowrap;
    width: calc(300vw);
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    transition: left .3s ease-in-out;
    margin-top: 40px;
}

#nav-page-carousel .nav-page {
    transform-origin: center;
    transform: scale(.75);
    width: calc(100vw - 15px);
    padding-right: 15px;
    opacity: .5;
    box-sizing: border-box;
    background-color: var(--m3--surface);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    max-height: calc(100vh - 68px - 70px - 40px);
    flex-shrink: 0;
    padding-top: 15px;
    margin-right: 15px;
}

#nav-page-carousel.active-item1 {
    left: 0;
}

#nav-page-carousel.active-item2 {
    left: -100vw;
}

#nav-page-carousel.active-item3 {
    left: -200vw;
}

#nav-page-carousel.active-item1 #item1,
#nav-page-carousel.active-item2 #item2,
#nav-page-carousel.active-item3 #item3 {
    transform: none;
    opacity: 1;
}


.FAB {
    background-color: var(--m3--primary-container);
    color: var(--m3--on-primary-container);
    box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    border: none;
    padding: 10px;
    border-radius: 16px;
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: calc(70px + 20px);
    right: 20px;
    z-index: 254;
}

.FAB * {
    pointer-events: none;
}

.FAB>* {
    margin: 6px;
}

.FAB-image {
    background: var(--m3--on-primary-container);
    height: 24px;
    width: 24px;
}

.FAB-test {
    font-size: 14px;
}

/*pages*/
#timers-FAB-image,
#timers-FAB-image[version='start'] {
    mask-image: url("../img/icon/primary-button/primary-timer-add.png");
    mask-image: url("../img/icon/primary-button/primary-timer-add.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-add.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-add.svg");
}

#timers-FAB-image[version='stop'] {
    mask-image: url("../img/icon/primary-button/primary-timer-stop.png");
    mask-image: url("../img/icon/primary-button/primary-timer-stop.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-stop.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-stop.svg");
}

#timers-FAB-image[version='resume'] {
    mask-image: url("../img/icon/primary-button/primary-timer-resume.png");
    mask-image: url("../img/icon/primary-button/primary-timer-resume.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-resume.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-resume.svg");
}

#timers-FAB-image[version='next'] {
    mask-image: url("../img/icon/primary-button/primary-timer-next.png");
    mask-image: url("../img/icon/primary-button/primary-timer-next.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-next.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-timer-next.svg");
}

#judges-FAB-image {
    mask-image: url("../img/icon/primary-button/primary-judges-add.png");
    mask-image: url("../img/icon/primary-button/primary-judges-add.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-judges-add.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-judges-add.svg");
}

#notes-FAB-image {
    mask-image: url("../img/icon/primary-button/primary-notes-add.png");
    mask-image: url("../img/icon/primary-button/primary-notes-add.svg");
    -webkit-mask-image: url("../img/icon/primary-button/primary-notes-add.png");
    -webkit-mask-image: url("../img/icon/primary-button/primary-notes-add.svg");
}

footer {
    height: 70px;
    bottom: 0;

}

footer>.footer-segment {
    width: 33.33333%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;
}

.footer-segment * {
    pointer-events: none;
}

.footer-segment>* {

    margin: 4px
}

.segment-icon {
    background-color: var(--m3--on-surface-variant);
    height: 24px;
    width: 24px;
    transition: background-color .3s ease-in-out;
}

.segment-title {
    color: var(--m3--on-surface-variant);
    font-size: 12px;
}

#timers-icon {
    mask-image: url("../img/icon/segments/timer.png");
    mask-image: url("../img/icon/segments/timer.svg");
    -webkit-mask-image: url("../img/icon/segments/timers.png");
    -webkit-mask-image: url("../img/icon/segments/timers.svg");

}

#notes-icon {
    mask-image: url("../img/icon/segments/notes.png");
    mask-image: url("../img/icon/segments/notes.svg");
    -webkit-mask-image: url("../img/icon/segments/notes.png");
    -webkit-mask-image: url("../img/icon/segments/notes.svg");

}

#judges-icon {
    mask-image: url("../img/icon/segments/judges.png");
    mask-image: url("../img/icon/segments/judges.svg");
    -webkit-mask-image: url("../img/icon/segments/judges.png");
    -webkit-mask-image: url("../img/icon/segments/judges.svg");

}

#segment-highlight {
    width: calc(33.33333vw - 56px);
    background-color: var(--m3--primary-container);
    height: 32px;
    border-radius: 20px;
    position: fixed;
    bottom: calc(16px + 14px);
    left: 0px;
    margin-left: 28px;
    pointer-events: none;
    transition: left .2s ease-in-out, top .2s ease-in-out;
}

footer.active-segment1 #segment1 .segment-icon,
footer.active-segment2 #segment2 .segment-icon,
footer.active-segment3 #segment3 .segment-icon {
    background-color: var(--m3--on-primary-container);
}

footer.active-segment1 #segment-highlight {
    left: 0vw;
}

footer.active-segment2 #segment-highlight {
    left: 33.33333vw;
}

footer.active-segment3 #segment-highlight {
    left: 66.66666vw;
}

.timer-container {
    width: calc(100%);
    flex-grow: 1;
    box-sizing: border-box;
    padding-bottom: calc(40px + 20px + 16px + 30px);
}

.timer-highlight {
    background: var(--m3--secondary-container);
    width: 100%;
    border-radius: 12px;
    height: fit-content;
    padding: 16px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    top: 0;
    transition: top .2s ease-in-out;
}

.timer-highlight #content-spacer {
    height: 56px
}

.timer-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
}


.timer-time {
    max-width: 150px;
    overflow: hidden;
    border-radius: 8px;
    height: 40px;
    width: 30%;
    box-shadow: 0 0 0 1px inset var(--m3--secondary);
    display: flex;
    flex-flow: row nowrap;
}

.timer-bar,
.timer-timestamp {
    height: 100%;
    display: flex;
    flex-shrink: 0;
}

.timer-bar {
    background: var(--m3--secondary);
    position: relative;
    left: -100%;
    width: 0%;
    overflow: hidden;
    transition: width .1s linear;
}

.timer-timestamp {
    max-width: 150px;
    width: calc(.3 * (100vw - 60px));
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: var(--m3--secondary);
}

.timer-bar .timer-timestamp {
    color: var(--m3--secondary-container);
}

.timer-actions {
    justify-content: flex-end;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

.action-button {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    font-weight: 500;
}

.action-button.secondary {
    background-color: var(--m3--secondary);
    color: var(--m3--on-secondary);
}

.action-button.secondary-alt {
    margin-right: 8px;
    background-color: transparent;
    box-shadow: 0 0 0 1px inset var(--m3--outline);
    color: var(--m3--secondary);
}

.timer-sections {
    margin-top: -144px;
    padding: 0 16px;
    z-index: 10;
    position: relative;
    pointer-events: none;
}

.timer-sections>.round {
    pointer-events: all;
    height: 56px;
    width: 100%;
    color: var(--m3--on-surface);
    padding: 16px 0;
    margin-bottom: 0;
    transition: margin-bottom .2s ease-in-out, height .2s ease-in-out;
}

.round * {
    pointer-events: none !important;
}

.round-info {
    color: var(--m3--on-surface-variant);
    padding-left: 8px;
    padding-top: 2px;
    font-size: 14px;
}

.timer-sections>.round.active {
    color: var(--m3--on-secondary-container);
    margin-bottom: 56px;
}

.round.active .round-time {
    color: var(--m3--on-surface);
    font-weight: 600;
}


::selection {
    color: var(--m3--on-tertiary);
    background: var(--m3--tertiary);
}

@media(orientation: landscape),
(min-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

.nav-page#item3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.placeholder {
    font-size: 30px;
    font-weight: 700;
    color: var(--m3--on-surface);
    text-align: center;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

#page-timers #nav-page-carousel .nav-page {
    overflow-y: auto;
    flex-grow: 0;
}

#page-timers {
    max-height: calc(100vh - 68px - 70px) !important;
    height: fit-content;
    padding-top: 15px !important;
}

#page-notes {
    display: flex;
    flex-flow: column;
    padding: 0 10px !important;

    align-items: center;
}

#notes-container {
    flex-grow: 1;
    height: max-content;
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    padding: 10px 0;
    padding-bottom: calc(40px + 20px + 16px + 15px);
    width: 100%;
    max-width: calc(520px + 20vw);

}

.note-container {
    border: 1px solid var(--m3--outline);
    background: var(--m3--surface);
    border-radius: 15px;
    box-sizing: border-box;
    min-height: fit-content;
    max-height: 200%;
    padding: 15px;
    display: flex;
    flex-flow: column;
    margin: 5px;
    flex-basis: 250px;
    min-height: max-content;
    max-height: 500px;
    min-width: 29%;
    flex-grow: 1;
    flex-shrink: 0;
}

.note-container>* {
    color: var(--m3--on-surface);
    width: 100%;
    box-sizing: border-box;
    background: var(--surface);
    border: none;
}

.note-title {
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
    margin-bottom: 10px;
    padding: 0 !important;

}

textarea,
.note-content {
    resize: none;
}



.note-content {
    flex-grow: 1;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--m3--on-surface-variant);
    min-height: max-content;
    flex-basis: max-content;
    flex-shrink: 0;
    overflow: hidden;
}

.note-content:empty:before {
    content: attr(placeholder);
    color: var(--m3--on-surface-variant);
    opacity: .5;
}

.note-actions {
    height: 30px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    align-self: flex-end;
    width: 30px;
    max-width: 300px;
    flex-shrink: 0;
    margin-left: calc(100% - 30px);
    box-sizing: border-box;
    overflow: hidden;
    transition: width .2s ease-in-out, margin-left .2s ease-in-out;
}

.note-actions:hover,
.note-container.editing .note-actions {
    width: 100%;
    margin-left: 0;
}

.note-container:not(.editing) .note-actions>button {
    opacity: 0;

}

.note-container:not(.editing) .note-actions:hover>button {
    opacity: .5;

}

.note-container:not(.editing) .note-actions>button:first-of-type {
    opacity: 1;

}

.note-actions>button {
    /*options*/
    background-color: var(--m3--surface2);
    background-color: var(--m3--surface);
    border: none;
    aspect-ratio: 1 / 1;
    width: 30px;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    transition: opacity .2s ease-in-out;
}


.note-actions>.button-separator {
    padding: 7.5px;
}

.note-title:active,
.note-title:focus,
.note-title:hover,
.note-title:focus-within {
    border-bottom: solid 2px var(--m3--on-surface-variant);
}

.note-action-icon {
    width: 100%;
    height: 100%;

    background-color: var(--m3--on-surface-variant)
}

#edit-mask {
    mask-image: url("../img/icon/note-action/edit.png");
    mask-image: url("../img/icon/note-action/edit.svg");
    -webkit-mask-image: url("../img/icon/note-action/edit.png");
    -webkit-mask-image: url("../img/icon/note-action/edit.svg");
}

#duplicate-mask {
    mask-image: url("../img/icon/note-action/duplicate.png");
    mask-image: url("../img/icon/note-action/duplicate.svg");
    -webkit-mask-image: url("../img/icon/note-action/duplicate.png");
    -webkit-mask-image: url("../img/icon/note-action/duplicate.svg");
}

#save-mask {
    mask-image: url("../img/icon/note-action/add.png");
    mask-image: url("../img/icon/note-action/add.svg");
    -webkit-mask-image: url("../img/icon/note-action/add.png");
    -webkit-mask-image: url("../img/icon/note-action/add.svg");
}

#hide-mask {
    mask-image: url("../img/icon/note-action/hide.png");
    mask-image: url("../img/icon/note-action/hide.svg");
    -webkit-mask-image: url("../img/icon/note-action/hide.png");
    -webkit-mask-image: url("../img/icon/note-action/hide.svg");
}

#delete-mask {
    mask-image: url("../img/icon/note-action/delete.png");
    mask-image: url("../img/icon/note-action/delete.svg");
    -webkit-mask-image: url("../img/icon/note-action/delete.png");
    -webkit-mask-image: url("../img/icon/note-action/delete.svg");
}